/* Nunito Sans */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-300.eot);
    src: local('Nunito Sans Light'), local('NunitoSans-Light'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-300.eot?#iefix) format('embedded-opentype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-300.woff2) format('woff2'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-300.woff) format('woff'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-300.ttf) format('truetype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-300.svg#NunitoSans) format('svg')
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-regular.eot);
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-regular.eot?#iefix) format('embedded-opentype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-regular.woff2) format('woff2'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-regular.woff) format('woff'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-regular.ttf) format('truetype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-regular.svg#NunitoSans) format('svg')
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-600.eot);
    src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-600.eot?#iefix) format('embedded-opentype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-600.woff2) format('woff2'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-600.woff) format('woff'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-600.ttf) format('truetype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-600.svg#NunitoSans) format('svg')
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-700.eot);
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-700.eot?#iefix) format('embedded-opentype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-700.woff2) format('woff2'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-700.woff) format('woff'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-700.ttf) format('truetype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-700.svg#NunitoSans) format('svg')
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-800.eot);
    src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-800.eot?#iefix) format('embedded-opentype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-800.woff2) format('woff2'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-800.woff) format('woff'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-800.ttf) format('truetype'), url(/Resources/Public/webfonts/fonts/nunito-sans-v3-latin-800.svg#NunitoSans) format('svg')
}
