$aswo-icon-font-path: "fonts/aswo-icon" !default;

$aswo-icon-procustomer: "\e900";
$aswo-icon-factory: "\e901";
$aswo-icon-candidate: "\e902";
$aswo-icon-consumer: "\e903";
$aswo-icon-shop: "\e904";
$aswo-icon-phone: "\e905";
$aswo-icon-badge: "\e906";
$aswo-icon-tools: "\e907";
$aswo-icon-assistance: "\e908";



@font-face {
  font-family: 'aswo-icon';
  src:
    url('#{$aswo-icon-font-path}/aswo-icon.ttf?452m76') format('truetype'),
    url('#{$aswo-icon-font-path}/aswo-icon.woff?452m76') format('woff'),
    url('#{$aswo-icon-font-path}/aswo-icon.svg?452m76#aswo-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.aswo-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aswo-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aswo-icon-procustomer {
  &:before {
    content: $aswo-icon-procustomer;
  }
}
.aswo-icon-factory {
  &:before {
    content: $aswo-icon-factory;
  }
}
.aswo-icon-candidate {
  &:before {
    content: $aswo-icon-candidate;
  }
}
.aswo-icon-consumer {
  &:before {
    content: $aswo-icon-consumer;
  }
}
.aswo-icon-shop {
  &:before {
    content: $aswo-icon-shop;
  }
}
.aswo-icon-phone {
  &:before {
    content: $aswo-icon-phone;
  }
}
.aswo-icon-badge {
  &:before {
    content: $aswo-icon-badge;
  }
}
.aswo-icon-tools {
  &:before {
    content: $aswo-icon-tools;
  }
}
.aswo-icon-assistance {
  &:before {
    content: $aswo-icon-assistance;
  }
}

