// MY SETTINGS ASWO
// ----------------------------------------------------------
//  color
$primary-color:#0058a2;
$primary-color-darker: darken($primary-color, 8%);
$primary-color-lighter: lighten($primary-color, 15%);


$orange: #e46629;
$orange-darker: darken($orange, 8%);
$orange-lighter: lighten($orange, 15%);
$purple: #836da5;
$purple-darker: darken($purple, 8%);
$purple-lighter: lighten($purple, 15%);
$dark-pink: #c03481;
$dark-pink-darker: darken($dark-pink, 8%);
$dark-pink-lighter: lighten($dark-pink, 15%);
$green: #79b94c;
$green-darker: darken($green, 8%);
$green-lighter: lighten($green, 15%);
$middle-blue: #5ca7da;
$middle-blue-darker: darken($middle-blue, 8%);
$middle-blue-lighter: lighten($middle-blue, 15%);


$grey-darker:#111118;
$grey-dark:#2d2d2b;
$grey:#484848;
$grey-medium:#757575;
$grey-light:#b2b2b2;
$grey-lighter:#e9edf1;

$border-light-color:#ccdde7;


// fonts
$font-family-base: "Nunito Sans",
arial,
sans-serif;


@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

@mixin line-height($size) {
	line-height: $size;
	line-height: calculateRem($size);
}

@mixin margin-topbottom($size1, $size2) {
	margin: $size1 0 $size2 0;
	margin: calculateRem($size1) 0 calculateRem($size2) 0;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//boutons
$btn-hover-color: darken($primary-color, 10%);
